

body{
    font-size: 14px;
    font-family: Verdana, sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: teal;
    color: white;
    height: 50px;
    padding: 20px;
    margin: 0px;
 
}

header a{
    color: white;
    text-decoration: none;
    vertical-align: middle;
    padding-right: 30px;
}

header h1{
    margin: 0;
    padding-top: 10px;
}

header div{
    padding-top: 15px;
}

main{
    padding: 0 30px;
}

img{
    width: 300px;
    margin-top: 40px;
}

#bonjour{
    text-align: center;
    font-size: 16px;
    color: #200080;
}

#ajoutarticle{
    display: flex;
    justify-content: space-around;
}

#ajoutarticle section{
    width: 40%;
}

.article{
    border: 1px solid #006080;
    margin: 10px 10%;
    border-radius: 10px;
    padding: 10px 20px;
}

.article a{
    text-decoration: none;
    color: #006080;
}

#categorie{
    display: flex;
    justify-content: space-evenly;
}

#categorie a{
    text-decoration: none;
    color: blue;
}

#categorie a i{
    color: #006080;
}